<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProMan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css"
          integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css"
          integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <script src='/static/js/showPassword.js' defer></script>
</head>
<body>
<!-- my changes -->
<div>
    {% if not session.username %}
        <div id="registration"><a href="/registration">Registration</a></div>
        <form action="/" name="login" autocomplete="off" method="post">
        <input type="text" placeholder="Username" name="user"><br>
        <input class="password" type="password" placeholder="Password" name="password">
        <input id="checkbox" type="checkbox">Show Password
        <br>
    {% else %}
        <form action="/logout" name="logout" method="get">
    {% endif %}
    <p>{{ 'Logged in: '+session.username if session.username else '' }}</p>
    <input type="submit" value="{{ 'Log out' if session.username else 'Log in' }}">
    </form><br>
</div>
<div class="error">
    {{ invalid_input }}
</div>
<!-- my changes -->
<h1>ProMan</h1>
<div id="boards"></div>
<img src="/static/img/plus.png" id="plus-sign">
{#   modal#}
<div id="small-modal" class="modal">
    <div tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div id="small-modal-header" class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="small-modal-table" class="table table-bordered">
                        <thead class="thead-light">
                        <tr id="table-head">
                        </tr>
                        </thead>
                        <tbody id="small-body">
                        <textarea id="textarea" placeholder="Add new name" cols="15"></textarea>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>